In [1]:
import numpy as np
import pandas as pd

### Question 1

In [2]:
np.__version__

'1.22.3'

### Question 2

In [3]:
df = pd.read_csv("../../../../chapter-02-car-price/data.csv")
df.shape[0]

11914

### Question 3

In [4]:
df['Make'].value_counts().sort_values(ascending=False)[:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

### Question 4

In [5]:
(
df
    .query('Make.str.match("(?i)audi")')
    ['Model']
    .unique()
    .shape[0]
)

34

### Question 5

In [6]:
missing_counts = df.isna().sum()
missing_counts[missing_counts > 0]

Engine Fuel Type       3
Engine HP             69
Engine Cylinders      30
Number of Doors        6
Market Category     3742
dtype: int64

### Question 6

In [7]:
print(f'Median before: {df["Engine Cylinders"].median()}')
mode = df['Engine Cylinders'].mode()[0]
print(f'Median after: {df["Engine Cylinders"].fillna(mode).median()}')

Median before: 6.0
Median after: 6.0

### Question 7

In [8]:
X = (
df
    .query('Make == "Lotus"')
    [["Engine HP", "Engine Cylinders"]]
    .drop_duplicates()
    .values
)

X

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])

In [9]:
XTX = X.T @ X
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [10]:
 w = (np.linalg.inv(XTX) @ X.T) @ y
 w[0]

4.594944810094579